<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="serilog:minimum-level" value="Debug"/>
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="logs\log.txt" />
		<!--每個檔案 2KB，保留 10 個-->
		<add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
		<add key="serilog:write-to:File.fileSizeLimitBytes" value="2000" />
		<add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
	</appSettings>
	
	<quartz>
		<add key="quartz.plugin.jobInitializer.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins"/>
		<add key="quartz.plugin.jobInitializer.fileNames" value="quartz_jobs.xml" />
	</quartz>
</configuration>