<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="serilog:minimum-level" value="Debug"/>
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="logs\log.txt" />
		<!--每個檔案 2KB，保留 10 個-->
		<add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
		<add key="serilog:write-to:File.fileSizeLimitBytes" value="2000" />
		<add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
	</appSettings>
</configuration>